<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phstudio.freetv">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreeTV">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".favorite.FavoriteActivity" />

        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.AdultActivity" />
        <activity android:name=".ui.ChannelsActivity" />
        <activity android:name=".ui.MoviesActivity" />
        <activity android:name=".ui.MusicActivity" />
        <activity android:name=".ui.NewsActivity" />

        <activity android:name=".player.PlayerActivity" />
        <activity android:name=".player.LinkActivity" />
        <activity
            android:name=".player.HTMLActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />

        <activity android:name=".ui.new_channels.FreeTVActivity" />
        <activity android:name=".ui.new_channels.Albania" />
        <activity android:name=".ui.new_channels.Andorra" />
        <activity android:name=".ui.new_channels.Argentina" />
        <activity android:name=".ui.new_channels.Australia" />
        <activity android:name=".ui.new_channels.Austria" />
        <activity android:name=".ui.new_channels.Azerbaijan" />
        <activity android:name=".ui.new_channels.Belarus" />
        <activity android:name=".ui.new_channels.Belgium" />
        <activity android:name=".ui.new_channels.BosniaAndHerzegovina" />
        <activity android:name=".ui.new_channels.Brazil" />
        <activity android:name=".ui.new_channels.Bulgaria" />
        <activity android:name=".ui.new_channels.Canada" />
        <activity android:name=".ui.new_channels.Chad" />
        <activity android:name=".ui.new_channels.Chile" />
        <activity android:name=".ui.new_channels.China" />
        <activity android:name=".ui.new_channels.CostaRica" />
        <activity android:name=".ui.new_channels.Croatia" />
        <activity android:name=".ui.new_channels.Cyprus" />
        <activity android:name=".ui.new_channels.CzechRepublic" />
        <activity android:name=".ui.new_channels.Denmark" />
        <activity android:name=".ui.new_channels.DominicanRepublic" />
        <activity android:name=".ui.new_channels.Estonia" />

        <activity android:name=".ui.channels.PHstudio" />
        <activity android:name=".ui.channels.Czech" />
        <activity android:name=".ui.channels.UK" />
        <activity android:name=".ui.channels.Argentina" />
        <activity android:name=".ui.channels.Australia" />
        <activity android:name=".ui.channels.USA" />
        <activity android:name=".ui.channels.Germany" />
        <activity android:name=".ui.channels.Slovakia" />
        <activity android:name=".ui.channels.International" />

        <activity android:name=".ui.kodinerds.KodiNerdsActivity" />
        <activity android:name=".ui.kodinerds.KodiTvMain" />
        <activity android:name=".ui.kodinerds.KodiTvRegional" />
    </application>
</manifest>